extends ./layout.pug
block content

    h1 "The future home of something important"
    p I will keep trying until my good is better and my better best
    each student in students
        li #{student.name + " " + student.age}

    block content